name: Generate Snake

permissions:
  contents: write

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate snake animation
        uses: Platane/snk@v3
        id: snake
        with:
          github_user_name: NekoTheDev
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
            dist/github-contribution-grid-snake.gif
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}

      - name: Checkout output branch
        run: |
          git fetch origin
          git checkout -B output origin/output || git checkout --orphan output

      - name: Copy generated files
        run: |
          cp -r dist/* .

      - name: Push new snake images
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: .
          commit_message: "Update snake animation"
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}

      - name: Clean up
        run: git reset --hard
